<form class="form" name="newMedalForm" ng-submit="newMedalCtrl.saveMedal(medal)"/>
  <h3 class="mbm">New medal for {{ newMedalCtrl.sportName }} </h3>
  <div class="form-field">
    <label for="division" class="form-label">Division</label>
    <input id="division" class="form-input" required ng-model="medal.division"/>
  </div>

  <div class="form-field">
    <label for="country" class="form-label">Country</label>
    <input id="country" class="form-input" required ng-model="medal.country"/>
  </div>

  <div class="form-field">
    <label for="year" class="form-label">Year</label>
    <select id="division" class="form-input" required ng-model="medal.year">
      <option value="2012">2012</option>
      <option value="2008">2008</option>
      <option value="2004">2004</option>
    </select>
  </div>

  <input class="btn" type="submit" />
